<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="File" fileName="logs.txt">
      <PatternLayout>
        <pattern>%d{HH:mm:ss,SSS} %p %C{1.} [%t] %m%n</pattern>
      </PatternLayout>
    </File>
  </Appenders>


  <Loggers>
    <Root level="debug">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>